API_BASE_URL=https://kukalakala-production.up.railway.app
NEXT_PUBLIC_API_BASE_URL=https://kukalakala-production.up.railway.app
NEXT_PUBLIC_SUPABASE_URL=https://kucmaylurbuzyqmkqqhw.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_5dUq7P4vuODoYgPx1CZa8g_yq0LEC0r